In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing

In [6]:
train = pd.read_csv('train.csv')
train.head()

,id,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,0,15674932,Okwudilichukwu,668,France,Male,33.0,3,0.00,2,1.0,0.0,181449.97,0
1,1,15749177,Okwudiliolisa,627,France,Male,33.0,1,0.00,2,1.0,1.0,49503.50,0
2,2,15694510,Hsueh,678,France,Male,40.0,10,0.00,2,1.0,0.0,184866.69,0
3,3,15741417,Kao,581,France,Male,34.0,2,148882.54,1,1.0,1.0,84560.88,0
4,4,15766172,Chiemenam,716,Spain,Male,33.0,5,0.00,2,1.0,1.0,15068.83,0

In [7]:
test = pd.read_csv('test.csv')
test.head()

,id,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,165034,15773898,Lucchese,586,France,Female,23.0,2,0.00,2,0.0,1.0,160976.75
1,165035,15782418,Nott,683,France,Female,46.0,2,0.00,1,1.0,0.0,72549.27
2,165036,15807120,K?,656,France,Female,34.0,7,0.00,2,1.0,0.0,138882.09
3,165037,15808905,O'Donnell,681,France,Male,36.0,8,0.00,1,1.0,0.0,113931.57
4,165038,15607314,Higgins,752,Germany,Male,38.0,10,121263.62,1,1.0,0.0,139431.00

> # **x and y**

In [8]:
x = train.iloc[:,3:-1]
x.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,668,France,Male,33.0,3,0.00,2,1.0,0.0,181449.97
1,627,France,Male,33.0,1,0.00,2,1.0,1.0,49503.50
2,678,France,Male,40.0,10,0.00,2,1.0,0.0,184866.69
3,581,France,Male,34.0,2,148882.54,1,1.0,1.0,84560.88
4,716,Spain,Male,33.0,5,0.00,2,1.0,1.0,15068.83

In [9]:
x.describe()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
count,165034.000000,165034.000000,165034.000000,165034.000000,165034.000000,165034.000000,165034.000000,165034.000000
mean,656.454373,38.125888,5.020353,55478.086689,1.554455,0.753954,0.497770,112574.822734
std,80.103340,8.867205,2.806159,62817.663278,0.547154,0.430707,0.499997,50292.865585
min,350.000000,18.000000,0.000000,0.000000,1.000000,0.000000,0.000000,11.580000
25%,597.000000,32.000000,3.000000,0.000000,1.000000,1.000000,0.000000,74637.570000
50%,659.000000,37.000000,5.000000,0.000000,2.000000,1.000000,0.000000,117948.000000
75%,710.000000,42.000000,7.000000,119939.517500,2.000000,1.000000,1.000000,155152.467500
max,850.000000,92.000000,10.000000,250898.090000,4.000000,1.000000,1.000000,199992.480000

In [10]:
x['Geography'].value_counts()

Geography
France     94215
Spain      36213
Germany    34606
Name: count, dtype: int64

In [11]:
y = train.iloc[:,-1]
y.head()

0    0
1    0
2    0
3    0
4    0
Name: Exited, dtype: int64

> # **Preprocessing**

In [12]:
from sklearn.preprocessing import StandardScaler, OneHotEncoder, OrdinalEncoder
from sklearn.compose import ColumnTransformer

In [13]:
column_transformer = ColumnTransformer(
    transformers=[
        ('ord_en', OrdinalEncoder(), ['Gender']),
        ('One_hot_en', OneHotEncoder(), ['Geography']),
        ('std_scl', StandardScaler(), ['Balance']),
        ('Std_scl',StandardScaler(), ['EstimatedSalary'])
    ],remainder='passthrough')

In [14]:
x_trf = column_transformer.fit_transform(x)
one_hot_columns = column_transformer.named_transformers_['One_hot_en'].get_feature_names_out(['Geography'])

# Combine all column names
column_names = ['Gender'] + list(one_hot_columns) + ['Balance', 'EstimatedSalary'] +  ['CreditScore', 'Age', 'Tenure', 'NumOfProducts', 'HasCrCard', 'IsActiveMember']

# Convert the transformed data to a DataFrame
x_trf= pd.DataFrame(x_trf, columns=column_names)

x_trf.head()

,Gender,Geography_France,Geography_Germany,Geography_Spain,Balance,EstimatedSalary,CreditScore,Age,Tenure,NumOfProducts,HasCrCard,IsActiveMember
0,1.0,1.0,0.0,0.0,-0.883163,1.369486,668.0,33.0,3.0,2.0,1.0,0.0
1,1.0,1.0,0.0,0.0,-0.883163,-1.254085,627.0,33.0,1.0,2.0,1.0,1.0
2,1.0,1.0,0.0,0.0,-0.883163,1.437422,678.0,40.0,10.0,2.0,1.0,0.0
3,1.0,1.0,0.0,0.0,1.486918,-0.557018,581.0,34.0,2.0,1.0,1.0,1.0
4,1.0,0.0,0.0,1.0,-0.883163,-1.938770,716.0,33.0,5.0,2.0,1.0,1.0

In [15]:
test_trf = column_transformer.transform(test)
one_hot_columns = column_transformer.named_transformers_['One_hot_en'].get_feature_names_out(['Geography'])

# Combine all column names
column_names = ['Gender'] + list(one_hot_columns) + ['Balance', 'EstimatedSalary'] +  ['CreditScore', 'Age', 'Tenure', 'NumOfProducts', 'HasCrCard', 'IsActiveMember']

# Convert the transformed data to a DataFrame
test_trf= pd.DataFrame(test_trf, columns=column_names)

test_trf.head()

,Gender,Geography_France,Geography_Germany,Geography_Spain,Balance,EstimatedSalary,CreditScore,Age,Tenure,NumOfProducts,HasCrCard,IsActiveMember
0,0.0,1.0,0.0,0.0,-0.883163,0.962404,586.0,23.0,2.0,2.0,0.0,1.0
1,0.0,1.0,0.0,0.0,-0.883163,-0.795852,683.0,46.0,2.0,1.0,1.0,0.0
2,0.0,1.0,0.0,0.0,-0.883163,0.523083,656.0,34.0,7.0,2.0,1.0,0.0
3,1.0,1.0,0.0,0.0,-0.883163,0.026977,681.0,36.0,8.0,1.0,1.0,0.0
4,1.0,0.0,1.0,0.0,1.047249,0.533997,752.0,38.0,10.0,1.0,1.0,0.0

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
x_train,x_test,y_train,y_test = train_test_split(x_trf,y,test_size=0.25,random_state=42)

In [18]:
y_train.shape

(123775,)

In [19]:
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier
dt = RandomForestClassifier(n_estimators=1000)
dt.fit(x_train,y_train)

y_pred = dt.predict(x_test)
print('accuracy ', accuracy_score(y_test,y_pred))

accuracy  0.8599820645192564

In [20]:
y_pred = dt.predict(test_trf)

submission_df = pd.DataFrame({
    'id': test['id'],
    'Exited': y_pred  
})
submission_df.head()

       id  Exited
0  165034       0
1  165035       1
2  165036       0
3  165037       0
4  165038       0

In [21]:
submission_df.to_csv('Decision_Tree_output.csv', index=False)